* {
  font-family: "Titillium Web";
}

body {
  background-color: #3b4cca;
}

main {
}

h1,
h2 {
  color: #ffde00;
}

input[type="text"] {
  background-color: #d9d9d9;
  border: 2px solid #cc0000;
  border-radius: 10px;
}

label[for="buscar-por-nombre"],
p {
  color: #ffffff;
}

select {
  border-radius: 10px;
  border: 2px solid #cc0000;
  background-color: #d9d9d9;
}

.filtro {
  color: #17ef53;
}

button {
  border-radius: 10px;
  border: 2px solid #cc0000;
  background-color: #d9d9d9;
}

ul {
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 14% 10% 14% 14% 20% 15% 10%;
  width: 548px;
  height: 308px;
  border-radius: 20px;
  background-image: url("imagenes/Fondo\ tarjeta\ panorámica.jpg");
  background-size: cover;
}

img[itemprop="img-pokemon"] {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 7%;
}

dd[itemprop="name"] {
  text-align: center;
  font-size: 200%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

dd[itemprop="name"]:first-letter {
  text-transform: uppercase;
}

dd[itemprop="type"] {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 150%;
}

dd[itemprop="name-region"] {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 150%;
}

dd[itemprop="resistant"] {
  margin: 2%;
  padding: 5%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 5;
  font-size: 110%;
}

dd[itemprop="weaknesses"] {
  margin: 2%;
  padding: 5%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 6;
  font-size: 110%;
}

dd[itemprop="evolucion-1"] {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
  font-size: 110%;
}

dd[itemprop="evolucion-2"] {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
  font-size: 110%;
}

dd[itemprop="candy-cost-1"] {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
  font-size: 100%;
}

dd[itemprop="candy-cost-2"] {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 6;
  font-size: 100%;
}

dd[itemprop="spawn-chance"] {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 7;
  font-size: 110%;
  text-align: left;
}

input[type="radio"] {
  grid-column: ;
}
